[submodule "External/glm"]
	path = External/glm
	url = https://github.com/Gabriel-Baril/glm/
[submodule "External/spdlog"]
	path = External/spdlog
	url = https://github.com/Gabriel-Baril/spdlog/
[submodule "External/octree-cpp"]
	path = External/octree-cpp
	url = https://github.com/Gabriel-Baril/octree-cpp/
