[submodule "module/hdn.code.external.imgui"]
	path = module/hdn.code.external.imgui
	url = https://github.com/Gabriel-Baril/imgui/
[submodule "module/hdn.code.external.glm"]
	path = module/hdn.code.external.glm
	url = https://github.com/Gabriel-Baril/glm/
[submodule "module/hdn.code.external.spdlog"]
	path = module/hdn.code.external.spdlog
	url = https://github.com/Gabriel-Baril/spdlog/
[submodule "module/hdn.code.external.octree-cpp"]
	path = module/hdn.code.external.octree-cpp
	url = https://github.com/Gabriel-Baril/octree-cpp/
[submodule "module/hdn.code.external.glfw"]
	path = module/hdn.code.external.glfw
	url = https://github.com/Gabriel-Baril/glfw/
[submodule "module/hdn.code.external.tinyobjloader"]
	path = module/hdn.code.external.tinyobjloader
	url = https://github.com/Gabriel-Baril/tinyobjloader/
[submodule "module/hdn.code.external.sheredom-json"]
	path = module/hdn.code.external.sheredom-json
	url = https://github.com/Gabriel-Baril/sheredom-json/
[submodule "module/hdn.code.external.catch2"]
	path = module/hdn.code.external.catch2
	url = https://github.com/Gabriel-Baril/catch2
[submodule "module/hdn.code.external.pugixml"]
	path = module/hdn.code.external.pugixml
	url = https://github.com/Gabriel-Baril/pugixml.git
[submodule "module/hdn.code.external.tiny-process-library"]
	path = module/hdn.code.external.tiny-process-library
	url = https://gitlab.com/Gabriel-Baril/tiny-process-library
[submodule "module/hdn.code.external.inih"]
	path = module/hdn.code.external.inih
	url = https://github.com/Gabriel-Baril/inih.git
[submodule "module/hdn.code.external.cli11"]
	path = module/hdn.code.external.cli11
	url = https://github.com/Gabriel-Baril/CLI11.git
[submodule "module/hdn.code.external.fmt"]
	path = module/hdn.code.external.fmt
	url = https://github.com/Gabriel-Baril/fmt.git
[submodule "module/hdn.code.external.stb"]
	path = module/hdn.code.external.stb
	url = https://github.com/Gabriel-Baril/stb.git
[submodule "module/hdn.code.external.xxhash"]
	path = module/hdn.code.external.xxhash
	url = https://github.com/Gabriel-Baril/xxHash.git
[submodule "module/hdn.code.external.flatbuffers"]
	path = module/hdn.code.external.flatbuffers
	url = https://github.com/Gabriel-Baril/flatbuffers.git
